<div class="loan-calculator-container">
  <div class="loan-calculator">
    <div>
      <label for="loanAmount"
        >What Is The Amount Of Loan You Want To Borrow?
      </label>
      <div class="input-group">
        <span class="currency-symbol">₹</span>
        <input
          type="number"
          id="loanAmount"
          [(ngModel)]="loanAmount"
          (input)="calculateEMI()"
        />
      </div>
    </div>

    <div class="range-input">
      <label for="interestRate">Rate Of Interest (P.A)</label>
      <input
        type="range"
        id="interestRate"
        [(ngModel)]="interestRate"
        (input)="calculateEMI()"
        min="1"
        max="36"
      />
      <span>{{ interestRate }} %</span>
    </div>

    <div class="range-input">
      <label for="loanDuration">Duration Of The Loan</label>
      <input
        type="range"
        id="loanDuration"
        [(ngModel)]="loanDuration"
        (input)="calculateEMI()"
        min="1"
        max="30"
      />
      <span>{{ loanDuration }} Years</span>
    </div>
  </div>

  <div class="loan-graph">
    <div class="chart-container">
      <app-graph
        [monthlyEMI]="monthlyEMI"
        [totalAmountPayable]="totalAmountPayable"
        [interestComponent]="interestComponent"
      ></app-graph>
    </div>

    <div class="results">
      <div class="result-item">
        <p class="statement">Monthly EMI Is</p>
        <p class="amount">₹{{ monthlyEMI.toFixed(2) }}</p>
      </div>
      <div class="result-item">
        <p class="statement">Total Amount Payable Is</p>
        <p class="amount">₹{{ totalAmountPayable.toFixed(2) }}</p>
      </div>
      <div class="result-item">
        <p class="statement">Interest Component</p>
        <p class="amount">₹{{ interestComponent.toFixed(2) }}</p>
      </div>
    </div>
  </div>
</div>
